
  
  <div class="todoapp">
    
      <header class="header">
          <h1>ToDos</h1>
      </header>
   
      <div class="pics">
          <%= image_tag 'ironing.jpg', class: 'style_image_right img-fluid' %>
          <%= image_tag 'mail.jpg', class: 'style_image_left img-fluid' %>
          <%= image_tag 'workout.png', class: 'style_image_right img-fluid' %>
          <%= image_tag 'carpool.png', class: 'style_image_left img-fluid' %>
      </div>

      <div class="box">

          <form id="new-form">
            <input type="text" class="new-todo" placeholder="What needs to be done?" />
          </form>
          <section class="main">
            <ul class="todo-list">

            </ul>
          </section>
      </div>
      <div class="pics">
        <%= image_tag 'cook.png', class: 'style_image_left img-fluid ' %>
        <%= image_tag 'cleaner.jpg', class: 'style_image_right img-fluid' %>
        <%= image_tag 'shopping.jpg', class: 'style_image_left img-fluid' %>
        <%= image_tag 'tennis.png', class: 'style_image_right img-fluid' %>

      </div>
    
  </div>
  
